/* Estilos Gerais do Corpo do Site */
body {
    font-family: Arial, sans-serif;
    background-color: #F0FFF0;
    color: #4B3B2B;
    margin: 0;
    padding: 20px;
    padding-top: 70px;
}

h1, h2 {
    color: #006400;
}

h1 {
    font-size: 2.5em;
    border-bottom: 2px solid #DAA520;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    margin-top: 40px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #006400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #DAA520, #F0FFF0, #DAA520);
    margin: 40px 0;
}

/* Estilo para o Rodapé */
footer {
    color: #006400;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

/* Estilo para o Botão do Menu Hambúrguer */
.hamburger-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #006400;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

/* Estilo Padrão para o Menu - Fica oculto em telas pequenas */
.menu-fixo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F0FFF0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 1000;
}

.menu-fixo ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu-fixo li {
    margin: 0 15px;
}

.menu-fixo a {
    color: #006400;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
}

.menu-fixo a:hover {
    color: #DAA520;
    text-decoration: none;
}

/* Estilos para o Contêiner do Vídeo e o Iframe */
.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.video-container iframe {
    height: auto;
    border-radius: 15px; /* Bordas arredondadas */
    margin: 0 auto; /* Centraliza o vídeo */
    display: block;
}

/* Media Query - Telas maiores que 500px */
@media screen and (min-width: 501px) {
    .menu-fixo {
        display: flex;
    }

    .hamburger-menu {
        display: none;
    }
}

/* Media Query - Ajusta a imagem do favicon em telas de até 500px */
@media screen and (max-width: 500px) {
    #favicon\.png {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

/* Media Query - Ajusta a imagem do favicon em telas maiores que 500px */
@media screen and (min-width: 501px) {
    #favicon\.png {
        position: fixed;
        top: 10px;
        right: 20px;
        height: 50px;
        width: auto;
        z-index: 1001;
    }
}